{
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "editorconfig": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "trailingComma": "all"
}
